@font-face {
    font-family: 'Avenir-Black';
    src: url('/fonts/Avenir-Black.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('/fonts/Avenir-Roman.otf') format('opentype');
    font-style: normal;
}